<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Photo collage</h2>
        <div class="centered">

            <form  action="{{ url_for('mozaika') }}" method="get">
                Give URLs of photos you want to combine
                <br>
                Separate them with comas. Min 1 picture, max 8 pictures
                <input style="width: 600px" type="text" name="" value="zdjecia"><br><br>
                If you want the collage to be random set this parameter to 1
                <input id="bar" type="text" name="losowo" value=""><br><br>
                If you want, you can set the resolution of the final image (e.g. 1000x1000- width x height)
                <input  type="text" name="rozdzielczosc" value=""><br><br>
                <input type="submit" value="Make the collage">
            </form>
        </div>

    </body>
</html>
